:root {
  --border-radious-small-photos: 35px;
  --blueduck: #3e86f5;
  --salmonduck: #fd787b;
  --tittle-size: 3.4vw;
}

@font-face {
  font-family: Poppins;
  src: url("/src/fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: 400; /* Otras variantes de peso si es necesario */
}

section {
  width: 100%;
  min-height: 100vh;
}

/* Nav style */

nav {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: white;
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
}

nav h1 {
  color: var(--blueduck);
  text-shadow: 0 8px 8px rgb(0 0 0 / 25%);
  font-style: normal;
  margin-block: auto;
  font-size: 2.4rem;
}

.nav-line {
  margin-block: auto;
  height: 3rem;
  border: solid 1px var(--blueduck);
}

.nav-buttons {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}

.nav-buttons a {
  color: var(--blueduck);
  cursor: pointer;
  font-size: 2rem;
}

.nav-buttons a:active {
  transform: translateY(-5px); /* Mueve hacia arriba 5 píxeles */
}

/* Middle wellcome text */
.wellcome-text {
  margin-inline: auto;
  margin-bottom: 0;
  color: white;
  font-size: 3vw;
  text-shadow: 8px 8px 8px rgb(0 0 0 / 75%);
}

/* search input styles */

.search-input-container {
  margin-inline: auto;
  width: 45rem;
  height: 15rem;
  background-color: transparent;
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
  padding-top: 10rem;
}

.box-text {
  font-size: 1.5vw;
  color: white;
}

.buttons-container {
  margin-top: -3rem;
  width: 50%;
  height: 20%;
  background-color: white;
  border-radius: 1.25rem 1.25rem 0 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  padding-block: 2rem;
}

.buttons-container button {
  max-height: 2.3rem;
  width: 7vw;
  border-radius: 1.875rem;
  background: white;
  border: 0 solid var(--blueduck);
  padding: 0.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-container button:hover {
  background: rgb(62 134 245 / 50%);
}

.buttons-container-icons {
  max-height: 1rem;
}

.search-input {
  width: 100%;
  height: 85%;
  border-radius: 0 1.25rem 1.25rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: white;
  padding-block: 5rem;
}

.search-input * {
  border-radius: 1.25rem;
}

.search-input input {
  width: 30rem;
  background-color: rgb(62 134 245 / 50%);
  border: 5px solid var(--blueduck);
}

.search-button {
  padding: 0.5rem;
  background-image: url("../src/assets/icons8-lupa-240.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
  background-color: rgb(62 134 245 / 50%);
  border: 5px solid var(--blueduck);
  margin-left: 2rem;
}

.search-button:hover {
  cursor: pointer;
  background-color: rgb(62 134 245 / 70%);
}

.search-button:active {
  cursor: pointer;
  background-color: rgb(62 134 245 / 50%);
}

.search-button img {
  width: 2rem;
}

/* end of section1 */

.blue-line {
  width: 100%;
  height: 17vh;
  background-color: var(--blueduck);
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
}

/* Section2 styles */

.title-block {
  width: 100%;
  height: 10%;
}

.title {
  text-align: center;
  margin: 0;
  font-size: var(--tittle-size);
  padding-top: 2%;
  color: var(--blueduck);
}

.section2-tittle-line {
  width: 27vw;
  border-color: var(--blueduck);
}

.content {
  display: flex;
  height: 80%;
  margin-top: 2%;
  width: 100%;
}

.information {
  width: 50vw;
  border-radius: 56px;
}

.information h2 {
  text-align: center;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 28vw;
  margin: auto;
  padding-block: 5%;
}

.information p {
  margin: auto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 30%;
  color: #00000080;
}

.photo {
  margin: auto;
  width: 20vw;
  background-color: #fff;
  border-radius: 75px;
  display: flex;
  background-image: url("../assets/images/section2_image2.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 4px 3px rgb(0 0 0 / 25%);
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.photo1 {
  padding-block: 1rem;
  background-color: #fff;
  height: 15%;
  width: 120%;
  border-radius: var(--border-radious-small-photos);
  margin-top: 5rem;
  margin-bottom: 20rem;
  margin-left: -73px;
  text-align: center;
  box-shadow: 0 0 25px 0 #0000001a;
}

.photo2 {
  padding-block: 1rem;
  background-color: #fff;
  height: 15%;
  width: 120%;
  border-radius: var(--border-radious-small-photos);
  margin-top: 5rem;
  margin-left: -73px;
  text-align: center;
  box-shadow: 0 0 25px 0 #0000001a;
}

.photo3 {
  padding-block: 1rem;
  background-color: #fff;
  height: 15%;
  width: 100%;
  border-radius: var(--border-radious-small-photos);
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
  text-align: center;
  box-shadow: 0 0 25px 0 #0000001a;
  margin-left: 100px;
}

.photo-info h3 {
  height: 10%;
  color: var(--blueduck);
}

.photo-info p {
  width: 90%;
  height: 80%;
  margin: auto;
}

.section1-container {
  background: url("../assets/images/section1_image1.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section3 {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section3-title {
  font-size: var(--tittle-size);
  color: var(--blueduck);
  text-align: center;
}

.section3-subtitle {
  color: #000;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem 0;
}

.section3-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 250px);
  max-width: 1200px;
  width: 100%;
  justify-content: center;
}

.section3-card {
  border-radius: 1.5rem;
  background: var(--white-primary, #fff);
  box-shadow: 4px 4px 25px rgb(0 0 0 / 10%);
  padding: 0.5rem;
  position: relative;
}

.section3-card:hover {
  transform: translateY(-10px);
  box-shadow: 4px 4px 25px var(--blueduck);
  cursor: pointer;
}

.card-score {
  position: absolute;
  right: 1.5rem;
  left: auto;
  top: 1rem;
  background-color: white;
  border-radius: 1rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-image {
  border-radius: 1.5rem;
  width: 100%;
}

.score-icon {
  background: url("../assets/icons/score__icon.png");
  width: 1rem;
  height: 1rem;
  display: block;
  background-size: 1rem;
}

.score-text {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(50 50 50);
}

.card-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.info-location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info-title {
  font-size: 0.8rem;
}

.location-icon {
  background: url("../assets/icons/location__icon.png");
  width: 1rem;
  height: 1rem;
  display: block;
  background-size: 1rem;
}

.location-text {
  font-size: 0.75rem;
  font-weight: 600;
  color: rgb(50 50 50);
}
/* Sección 4 -- El tiempo */

.section4-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section4-title {
  font-size: var(--tittle-size);
  color: var(--blueduck);
  text-align: center;
}

.section4-tittle-line {
  width: 27vw;
  border-color: var(--blueduck);
}

.section4-container p {
  font-weight: bold;
}

.section4-madrid {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); 
  font-size: 18px; 
  text-align: center; 
  margin: 0 auto;
  margin-top: 5%;
  color: #333; 
  max-width: 200px;
}



/* Estilos para .section4-buttoms */
.section4-buttoms {
  max-width: 1200px; 
  width: 100%;
  margin: 1.5rem auto;
  letter-spacing: 1.5px;
  text-align: center;
}

.days, .weekend {
  position: relative;
  flex-direction: row;
}

.next_week {
  position: relative;
  display: flex;
  flex-wrap: wrap;

}


.section4-buttoms span {
  background-color: var(--blueduck);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.section4-buttoms span:hover {
  background-color: darkblue;
}

/* Estilos para .section4-panel */

.section4-panel {
  display:flex;
  margin: 0 auto;
  margin-top: 5%;
  padding: 5px 30px;
  border-radius: 20px;
  background-color: #c4baba93;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 20px;
  max-width: 1200px; 
}

table {
  position: relative;
  flex-wrap: wrap;
  top: 10px;
  width: 100%;
  text-align: center;
}


tr:nth-child(1) td:nth-child(1),
tr:nth-child(1) td:nth-child(2),
tr:nth-child(1) td:nth-child(3),
tr:nth-child(1) td:nth-child(4),
tr:nth-child(1) td:nth-child(5) {
  padding-bottom: 32px;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}

tr:nth-child(2) td:nth-child(1),
tr:nth-child(2) td:nth-child(2),
tr:nth-child(2) td:nth-child(3),
tr:nth-child(2) td:nth-child(4),
tr:nth-child(2) td:nth-child(5) {
  padding-bottom: 7px;
  font-style: italic;
  color: #999;
}

tr:nth-child(3) td:nth-child(1),
tr:nth-child(3) td:nth-child(2),
tr:nth-child(3) td:nth-child(3),
tr:nth-child(3) td:nth-child(4),
tr:nth-child(3) td:nth-child(5) {
  padding-bottom: 7px;
}

tr:nth-child(4) td:nth-child(1),
tr:nth-child(4) td:nth-child(2),
tr:nth-child(4) td:nth-child(3),
tr:nth-child(4) td:nth-child(4),
tr:nth-child(4) td:nth-child(5) {
  padding-bottom: 7px;
}

tr:nth-child(3),
tr:nth-child(4) {
  font-size: .9em;
  font-style:oblique;
}


.forecast-icon {
  height: 70px;
  width: 70px;
  display:block;

}